.show-info {
  display: flex;
  margin: 20vh;
  margin-bottom: 0;

  &__image{
    width: 20vw;
    margin-right: 5vw;
  }

  &__text {
    display: flex;
    flex-direction: column;
    width: 400px;
    
    &--paragraph {
      color: #222222;
    }
  }
}

@media (max-width: 1000px) {
  .show-info {
    &__image{
      width: 200px;
    }
  }
}

@media (max-width: 700px) {
  .show-info {
    display: flex;
    flex-direction: column;
  
    &__image{
      margin-right: 0;
    }

    &__text {
      margin-top: 20px;
      width: auto;
    }
  }
}

@media (max-width: 500px) {
  .show-info {
    margin-top: 50px;
  }
}
